<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      style="max-height: 150px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" (click)="onNewRecipe()" class="btn btn-info">Manage Recipe</button>
      <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
      </button>
      <div
        class="dropdown-menu"
        appDropdown>
          <a class="dropdown-item" href="javascript:" (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping
            List</a>
          <a class="dropdown-item" style="cursor: pointer;" (click)="onEditRecipe()" href="javascript:">Edit Recipe</a>
          <a class="dropdown-item" style="cursor: pointer;" (click)="onDeleteRecipe()" href="javascript:">Delete
            Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <b style="font-size: 20px;">Description</b>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
