<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      style="max-height: 150px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">

<!-- Niche comment ma je pela hatu A se -->

    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-info">Manage Recipe</button>
        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
        </button>
        <div class="dropdown-menu" appDropdown>
          <a class="dropdown-item" href="#">To Shopping List</a>
          <a class="dropdown-item" href="#">Edit Recipe</a>
          <a class="dropdown-item" href="#">Delete Recipe</a>
        </div>
    </div>
    <!--<div-->
      <!--class="btn-group"-->
      <!--appDropdown>-->
      <!--<button type="button"-->
              <!--class="btn btn-primary dropdown-toggle">-->
              <!--Manage Recipe<span class="caret"></span>-->
      <!--</button>-->
      <!--<ul class="dropdown-menu">-->
        <!--<li><a href="#">To Shopping List</a></li>-->
        <!--<li><a href="#">Edit Recipe</a></li>-->
        <!--<li><a href="#">Delete Recipe</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <b style="font-size: 20px;">Description</b>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>



